:root{
    background-color: moccasin;
}

/* centering the buttons*/
#buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    margin-bottom: 20px;
}

/*centering the grid container*/
#gridContainerDiv{
    margin: auto;

    height: 600px;
    width: 600px;

    display: grid;

    background-color: whitesmoke;
    border: 5px solid  black;
}

.button{
    border-radius: 20px;
    margin-right: 40px;
    font-size: large;
}

.cell{
    border: 0.5px solid rgb(200, 200, 200);
    background-color: white;
}

/* the class is applied  when the mouse enters in a cell of the grid*/
.hoverOn{   
    background-color: black;
}