/* #mainContainer{ */
    /* display: flex; */
/* } */

#gridContainerDiv{

    height: 600px;
    width: 600px;

    display: grid;

    background-color: whitesmoke;
    border: 2px solid  lightblue;
}

.cell{
    border: 0.5px solid rgb(200, 200, 200);
    background-color: white;
}

.hoverOn{
    background-color: black;
}